body{
	background-color: #bfffff;
}

.top{
	display: flex;
	justify-content: flex-center;
}

.top h1{
	margin: 10px;
	padding: 10px;
}

.nav {
	margin: 10px;
	display: flex;
	justify-content: flex-start;
	margin: auto;
	padding: 10px;
}
.nav li {
	margin: 10px;
	padding: 10px;
	border-style: solid;
	list-style-type: none;
	background-color: lightgrey;

}

.nav li:hover {
	background: #00eeff;
}

.nav li a{
	text-decoration: none;
}

.center{
	display: flex;
	flex-direction: row;
	margin-bottom: 0px;
}

.center-left{
	width: 15%;
	padding: 25px;
	padding-top: 50px;
	position: fixed;
	float: left;
}

.center-left ul{
	list-style-type: none;
}

.center-left ul li{
	border-style: solid;
	text-align: center;
	margin: 5px;
	padding: 2px;
	background-color: lightgrey;

}

.center-right{
	width: 80%;
	margin-left: 20%;
	padding: 20px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	float: right;
}

.post{
	margin: 7px auto 7px auto;
	width: 44%;
	border-style: solid;
	padding: 25px;
	background-color: #00ffff;
 }

.post h2{
	text-align: center;
}

.post img{
	padding: 10px;
}

.post p{
	margin: auto;
	padding-top: 10px;
	width: 100%;
	text-align: justify;
}

.rss{
	display: flex;
	float: right;
	margin-top: 0px;
	margin-right: 20px;
}

.rss li{
	margin: 10px;
	padding: 5px;
	border-style: solid;
	list-style-type: none;
	background-color: lightgrey;

}

.rss li:hover {
	background-color: #00eeff;
}

.rss li a{
	text-decoration: none;
}