* {
	padding: 0;
	margin: 0;
}

div {
	width: 100%;
}

.center{
	display: flex;
}

.top{
	background-color: red;
}
.center-left{
	background-color: green;
}
.center-right{
	background-color: blue;
}
.bottom{
	background-color: pink;
}